body {
  text-align: center;
}

.hero {
  background-color: #def3fd;
  padding: 72px;
}

.hero h1 {
  font-size: 36px;
  font-weight: 200;
  font-family: "Raleway", sans-serif;
}

.hero h2 {
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 200;
}
